page-create-chatroom {
  .createButton{
    min-height: 3em;
    min-width: 7.5em;
  }
  .item-ios.item-block .item-inner{
    border: none;
  }
  .item-md.item-block .item-inner{
    border : none;
  }
}
