page-add-news {
  .button-item{
    text-align: center;
    min-height: 3.2em;
  }
  #addText{
    font-size: 20px;
  }
  .textarea{
    min-height: 150px;
  }
  .addButton{
    min-width: 200px;
    min-height: 40px;
  }
}

