page-home {
  position: relative;
  text-align:center;
  height: 100%;
  .side-menu-userInfo{
    padding-bottom: 10px;
    padding-top: 35px;
  }
  .side-menu-userInfo img{
    margin-left: 15px;
    width: 100px;
    height: 100px;
    border-radius: 60px;

  }
  .side-menu-userInfo p{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    line-height: 60px;
  }
  h1{
    font-family: 'Josefin Sans', sans-serif;
  }
  .logo{
    position: fixed;
    left : 1em;
  }
  .ion-content{
    background-image: url("../../assets/imgs/home__background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 100%;
  }
  .authentication{
    margin: auto;
    min-width: 100%;
  }
  .button{
    min-width: 250px;
  }
  .bottom-auth{
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
  .div-loggedin{
    padding-top: 50px;
  }
  .align-center {
    text-align: center;
  }


}

