
<!--           Side MENU            -->

<ion-menu [content]="mycontent">
  <div class="side-menu-userInfo">
    <img src="{{userAccountInfo.profilePicture}}"/>
    <p class="menu-name">{{userAccountInfo.name}}</p>
    <p class="menu-email">{{userAccountInfo.email}}</p>
  </div>

  <ion-list class="menu-list">
    <button ion-item menuClose (click)="openComponent('main-home')">
      Home
    </button>
    <button ion-item menuClose>
      Photos
    </button>
    <button ion-item menuClose (click)="openComponent('chat-rooms')">
      Chat Rooms
    </button>
    <button ion-item menuClose >
      Music
    </button>
    <button ion-button menuClose full color="danger" (click)="logout()"  class="button">Logout</button>
  </ion-list>

</ion-menu>




<ion-content #mycontent padding   [class.login-page]="userAccountInfo.loggedin==false" >

  <div *ngIf="userAccountInfo.loggedin" class="div-loggedin">

    <!--       HEADER              -->

    <ion-header>
      <ion-navbar>
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
          <h2>The Penguig</h2>
        </ion-title>
      </ion-navbar>
    </ion-header>

    <!--     Main part loggedin        -->

    <users-online *ngIf="currentComponent == 'users-online'"></users-online>
    <main-home *ngIf="currentComponent == 'main-home'" [userAccountInfo]="userAccountInfo"></main-home>
    <chat-rooms *ngIf="currentComponent == 'chat-rooms'" [userAccountInfo]="userAccountInfo"></chat-rooms>


  </div>








  <!--       Before Loggedin       -->

  <div *ngIf="!userAccountInfo.loggedin">
    <h1>The Penguig</h1>
  </div>

  <!----------------         AUTHENTICATION  Buttons            ----------->
  <button ion-button (click)="login('facebook')" color="light" class="button" *ngIf="!userAccountInfo.loggedin">
    <ion-icon name="logo-facebook" class="logo"></ion-icon>
    Login With Facebook
  </button>
  <button ion-button (click)="login('google')" color="light" class="button" *ngIf="!userAccountInfo.loggedin">
    <ion-icon name="logo-google" class="logo"></ion-icon>
    Login With Google
  </button>
  <div class="bottom-auth">
    <button ion-button (click)="login('twitter')" color="light" class="button" *ngIf="!userAccountInfo.loggedin">
      <ion-icon name="logo-twitter" class="logo"></ion-icon>
      Login With Twitter
    </button>
    <button ion-button (click)="login('github')" color="light" class="button" *ngIf="!userAccountInfo.loggedin">
      <ion-icon name="logo-github" class="logo"></ion-icon>
      Login With GitHub
    </button>
  </div>
</ion-content>
