<button ion-button (click)="pushTo_addnews()" class="add-news-button" >Add Note</button>



<ion-card  *ngFor="let note of Notes;let i = index ">
  <div class="note__user-info">
    <img class="note__avatar" src="{{note.photoUrl}}">
    <p class="note__name">{{note.name}}</p>
    <p class="note__email">{{note.email}}</p>
  </div>
  <div class="note__news">
    <h1>{{note.topic}}</h1>
    <p>{{note.note}}</p>
  </div>
  <div class="note__footer">
    <div class="note__footer_div" >{{note.likes}} <ion-icon name="happy"></ion-icon></div>
    <div class="note__footer_div">{{note.comments}} <ion-icon name="mail-open"></ion-icon></div>
    <div class="note__footer_div">11h ago</div>
  </div>
</ion-card>




