main-home {
  .add-news-button{
    width: calc(100% - 20px);
    height: 2.3em;
    background-color: #f4f4f4;
    color:black;
  }
  .note{
    padding: 10px;
    min-height: 100px;
  }
  .note :after{
    clear: both;
  }
  .note__user-info{
    margin-bottom: 1em;
  }
  .note__avatar{
    width: 50px;
    height: 50px;
    position: relative;
    left:1em;
    border-radius: 50px;
    float : left;
  }
  .note__name{
    font-size: 20px;
  }
  .note__footer_div{
    margin-top: 1em;
    padding-bottom: 0.3em;
    float:left;
    width: 40%;
  }
  .note__footer_time{
    width : 20%;
    float : left;
    font-size : 10px;
    height: 22px;
    line-height: 22px;
    margin-top: 1em;
    position: relative;
    left : -10px;
  }

}
