<button ion-button (click)="pushTo_addnews()" class="add-news-button" >Add Note</button>
<ion-card class="note">
  <div class="note__user-info">
    <img class="note__avatar" src="{{userInfo.profilePicture}}">
    <p class="note__name">{{userInfo.name}}</p>
    <p class="note__email">{{userInfo.email}}</p>
  </div>
  <div class="note__news">
    <h1>VU Amsterdam</h1>
    <p>"I am delighted that you are considering studying at VU Amsterdam. We will challenge you to think about the knowledge you will gain in the context of addressing the complex problems of today’s society. We ask you to look further– to cross disciplinary boundaries, to broaden your horizons and to engage with the broader community. We hope that you will be inspired by our vision and ambition, and look forward to welcoming you as a member of VU Amsterdam's community."</p>
  </div>
  <div class="note__footer">
    <div class="note__footer_div">12 <ion-icon name="happy"></ion-icon></div>
    <div class="note__footer_div">5 <ion-icon name="mail-open"></ion-icon></div>
    <div class="note__footer_div">11h ago</div>
  </div>
</ion-card>
<ion-card class="note">
  <div class="note__user-info">
    <img class="note__avatar" src="{{userInfo.profilePicture}}">
    <p class="note__name">{{userInfo.name}}</p>
    <p class="note__email">{{userInfo.email}}</p>
  </div>
  <div class="note__news">
    <p>"I am delighted that you are considering studying at VU Amsterdam. We will challenge you to think about the knowledge you will gain in the context of addressing the complex problems of today’s society. We ask you to look further– to cross disciplinary boundaries, to broaden your horizons and to engage with the broader community. We hope that you will be inspired by our vision and ambition, and look forward to welcoming you as a member of VU Amsterdam's community."</p>
  </div>
  <div class="note__footer">
    <div class="note__footer_div">12 <ion-icon name="happy"></ion-icon></div>
    <div class="note__footer_div">5 <ion-icon name="mail-open"></ion-icon></div>
    <div class="note__footer_div">11h ago</div>
  </div>
</ion-card>






